<!-- <div>
	<ul>
		<h1>{{news.title}}</h1>
		<h3>{{news.subtitle}}</h3>
		<div ng-bind-html="news.content"></div>
		<img ng-src="/img/news/{{news.id}}/featured_image/{{news.featured_image}}" alt="">
	</ul>
</div> -->

<article class="type-system-geometric">
	<p class="type">	<a target="_blank" href="{{news.url}}">{{news.url}}</a></p>
	<h1>{{news.title}}</h1>
	<p class="date">{{news.created_at}}</p>
	<br>
	<img ng-src="/img/news/{{news.id}}/featured_image/{{news.featured_image}}" alt="">
	<br><br>
	<h2>{{news.subtitle}}</h2>
	
	<div ng-bind-html="news.content"></div>
</article>
