<div ng-hide="singleHidden" id="single" class="fade" ng-click="singleHandler.closeSingle($event)">
    <div class="wrapper">
        <div class="close" ng-click="singleHandler.closeSingle($event)"></div>
        <div class="left">
            <div class="bigImage"><img src="{{$root.config.url}}/{{activiteit.images.big}}" alt="" class="src"></div>
            <div class="smallWrap">
            <div class="smallImage" ng-click="singleHandler.swap($event, activiteit.images.big)">
                    <img src="{{$root.config.url}}/{{activiteit.images.big}}" alt="" class="src">
                </div>
                <div class="smallImage" ng-click="singleHandler.swap($event, activiteit.images.big2)">
                    <img src="{{$root.config.url}}/{{activiteit.images.big2}}" alt="" class="src">
                </div>
                <div class="smallImage" ng-click="singleHandler.swap($event, activiteit.images.big3)" >
                    <img src="{{$root.config.url}}/{{activiteit.images.big3}}" alt="" class="src">
                </div>
                <div class="smallImage" ng-click="singleHandler.swap($event, activiteit.images.big4)">
                    <img src="{{$root.config.url}}/{{activiteit.images.big4}}" alt="" class="src">
                </div>
            </div>
            <div class="naw">
                <p>{{activiteit.straatnaam}}</p>
                <p>{{activiteit.plaats}}</p>
                <p>{{activiteit.telefoon}}</p>
                <p>{{activiteit.postcode}}</p>
            </div>
            <div class="social">            
                <a target="_blank" class="website" href="{{activiteit.website}}"></a>
                <a target="_blank" class="facebook" href="{{activiteit.facebookUrl}}"></a>
                <a target="_blank" class="twitter" href="{{activiteit.twitterUrl}}"></a>

            </div>
        </div>
        <div class="right">
            <h1 class="titel">{{activiteit.naam}}</h1>
            <p class="organisatie">{{activiteit.organisatie}}<br> <a id="openKaart" ng-click="closeOnClick()" href="#/kaart/{{ activiteit.naam }}">Bekijk op de kaart</a>   </p>
            <p class="categorie">Categorie:<br>{{activiteit.categorie}}</p>

            <h2 class="over">Over deze activiteit</h2>
            <p class="over">{{activiteit.long_desc}}</p>

            <h2>Beschikbaarheid</h2>
            <p class="beschikbaarheid">Maandag, Woensdag, Donderdag, Vrijdag, Zaterdag</p>
        </div>
    </div>
</div>

<div class="filter">
	<p>Zoeken:</p>
	<input ng-model="actFilter" placeholder="Bijvoorbeeld: Fietsen">
</div>

<div class="activiteitenContainer">
	<activiteit activiteit-id="{{activiteit.aID}}" class="repeat-item" ng-repeat="activiteit in activiteiten | filter:actFilter"></activiteit>
</div>
