<div ng-hide="singleHidden" id="single" ng-click="singleHandler.closeSingle($event)">
    <div class="wrapper">
    	<div class="close" ng-click="singleHandler.closeSingle($event)">X</div>
        <h1>Naam: {{ activiteit.naam }}</h1>
        <p>Organisatie {{ activiteit.organisatie }}</p>
    </div>
</div>

<div class="filter"> 
	<p>Filter:</p> 
	<input ng-model="actFilter" placeholder="Bijvoorbeeld: Fietsen">
</div>

<div class="activiteitenContainer">
	<activiteit activiteit-id="{{activiteit.aID}}" class="repeat-item" ng-repeat="activiteit in activiteiten | filter:actFilter"></activiteit>
</div>