<div ng-hide="singleHidden" id="single" ng-click="singleHandler.closeSingle($event)">
    <div class="wrapper">
        <div class="close" ng-click="singleHandler.closeSingle($event)"></div>
        <div class="left">
            <div class="bigImage"><img src="{{$root.config.url}}/{{activiteit.images.big}}" alt="" class="src"></div>
        </div>
        <div class="right">
            <h1 class="titel">{{activiteit.naam}}</h1>
            <p class="organisatie">{{activiteit.organisatie}}<br> <a id="openKaart" ng-click="closeOnClick()" href="#/kaart">Bekijk op de kaart</a> </p>
            <p class="categorie">Categorie:<br>{{activiteit.categorie}}</p>

            <h2 class="over">Over deze activiteit</h2>
            <p class="over">{{activiteit.long_desc}}</p>

            <h2>Beschikbaarheid</h2>
            <p class="beschikbaarheid">Maandag, Woensdag, Donderdag, Vrijdag, Zaterdag</p>
        </div>
    </div>
</div>

<div class="filter"> 
	<p>Zoeken:</p> 
	<input ng-model="actFilter" placeholder="Bijvoorbeeld: Fietsen">
</div>

<div class="activiteitenContainer">
	<activiteit activiteit-id="{{activiteit.aID}}" class="repeat-item" ng-repeat="activiteit in activiteiten | filter:actFilter"></activiteit>
</div>