<div ng-hide="singleHidden" id="single" ng-click="singleHandler.closeSingle($event)">
    <div class="wrapper">
    	<div class="close" ng-click="singleHandler.closeSingle($event)"></div>
    	<div class="left">
    		<div class="bigImage"><img src="{{$root.config.url}}/{{activiteit.images.big}}" alt="" class="src"></div>
    	</div>
    	<div class="right">
    		<h1 class="titel">{{activiteit.naam}}</h1>
    		<p class="organisatie">{{activiteit.organisatie}}<br> <a id="openKaart" ng-click="closeOnClick()" href="#/kaart/{{ activiteit.naam }}">Bekijk op de kaart</a>	</p>
    		<p class="categorie">Categorie:<br>{{activiteit.categorie}}</p>

    		<h2 class="over">Over deze activiteit</h2>
    		<p class="over">{{activiteit.long_desc}}</p>

    		<h2>Beschikbaarheid</h2>
    		<p class="beschikbaarheid">Maandag, Woensdag, Donderdag, Vrijdag, Zaterdag</p>
    	</div>
    </div>
</div>
<div ng-controller="FbCtrl" id="fbContainer">
	<div class="loggedIn">
		<div class="foto">
			<img src="{{ facebookUserImages.big }}" alt="">
		</div>
		<p class="loggedInAs">Ingelogd als,<br> <b>{{ facebookUserInfo.voornaam }}</b></p>
	</div>
	<div class="notLoggedIn">
	<fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>
	</div>
</div>

<div id="fotoSlider">
	<div class="left" ng-click="prevSlide()"></div>
	<div class="right" ng-click="nextSlide()"></div>
	<div class="wrapper" ng-mouseover="pauseAnimation()" ng-mouseleave="resumeAnimation()">
		<activiteit activiteit-id="{{activiteit.aID}}" class="slide slide-animation" ng-hide="!isCurrentSlideIndex($index)" ng-repeat="activiteit in activiteiten | filter:actFilter"></activiteit>
	</div>
</div>

<div id="mapsWidget">
	<div class="wrap">
		<a href="#/kaart"><p>Bekijk de interactieve kaart van Spaarnwoude</p></a>
		<img ng-src="{{$root.config.url }}/images/minimap.jpg" alt="">
	</div>
</div>

<div id="weatherWidget">
	<div class="wrapper">
		<p class="weerTop">Weersverwachting Spaarnwoude</p>
		<div ng-click="prevDag()" class="prev">  </div>
		<div ng-click="nextDag()" class="next">  </div>

		<div class="slider">
			<div ng-repeat="dag in weer" class="slide slide-animation" ng-hide="!isCurrentDagIndex($index)">
				<div class="deDag">{{dag.dag}}</div>
				<p class="voorspelling">Temperatuur: {{dag.temp.max}}°C</p>
				<p class="windkracht">Windkracht: {{dag.speed}}</p>
				<img src="" alt="" class="weerIcon">
			</div>
		</div>
	</div>
</div>
<div id="welcome">
	<p>Welkom bij Spaarnwoude</p>
	<div class="btn">Over deze website</div>
	<div class="btn loguit" ng-click="fbLogout()"><a href="#/">Log uit</a></div>	

</div>

<div id="buttons">
	<a href="#/activiteiten/categorie/genieten">
		<div class="btn genieten">
			<img align="left"src="images/Genieten.png" alt="" class="src">
			Genieten &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; 
		</div>
	</a>
	<a href="#/activiteiten/categorie/verblijven">
		<div class="btn verblijven">
			<img align="left"src="images/Verblijven.png" alt="" class="src">
			Verblijven &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; 
		</div>
	</a>
	<a href="#/activiteiten/categorie/beleven">
		<div class="btn beleven">
			<img align="left"src="images/beleven.png" alt="" class="src">
			Beleven &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; 
		</div>
	</a>
	<a href="#/activiteiten/categorie/doen">
		<div class="btn doen">
			<img align="left"src="images/Doen.png" alt="" class="src">
			Doen &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; 
		</div>
	</a>
</div>