<div ng-hide="singleHidden" id="single" ng-click="singleHandler.closeSingle($event)">
    <div class="wrapper">
    	<div class="close" ng-click="singleHandler.closeSingle($event)"></div>
    	<div class="left">
    		<div class="bigImage"><img src="{{$root.config.url}}/{{activiteit.images.big}}" alt="" class="src"></div>
    	</div>
    	<div class="right">
    		<h1 class="titel">Spaarnwoude</h1>
    		<p class="organisatie">Snow Planet, Spaarnwoude <br> <a id="openKaart" ng-click="closeOnClick()" href="#/kaart">Bekijk op de kaart</a>	</p>
    		<p class="categorie">Categorie(en)<br>Doen, Genieten</p>

    		<h2 class="over">Over deze activiteit</h2>
    		<p class="over">{{activiteit.long_desc}}</p>

    		<h2>Beschikbaarheid</h2>
    		<p class="beschikbaarheid">Maandag, Woensdag, Donderdag, Vrijdag, Zaterdag</p>
    	</div>
    </div>
</div>

<div id="fbContainer">
	<div class="foto"></div>
	<p class="loggedInAs">Ingelogd als,<br> <b>Frank Selhorst</b>{{ fb.Voornaam }}</p>
	<div class="loguit"><a href="#/">Log uit</a></div>
</div>

<div id="fotoSlider">
	<div class="left" ng-click="prevSlide()"></div>
	<div class="right" ng-click="nextSlide()"></div>
	<div class="wrapper" ng-mouseover="pauseAnimation()" ng-mouseleave="resumeAnimation()">
		<activiteit activiteit-id="{{activiteit.aID}}" class="slide slide-animation" ng-hide="!isCurrentSlideIndex($index)" ng-repeat="activiteit in activiteiten | filter:actFilter"></activiteit>
	</div>
</div>

<div id="mapsWidget">
	<div class="wrap">
		<a href="#/kaart"><p>Bekijk de interactieve kaart van Spaarnwoude</p></a>
		<img ng-src="{{$root.config.url }}/images/minimap.jpg" alt="">
	</div>
</div>

<div id="weatherWidget">
	<table>
		<tr ng-repeat="dag in weer">
			<td>{{ dag.dag }}</td>
			<td>{{ dag.temp.min }} °C</td>
			<td>{{ dag.temp.max }} °C</td>
		</tr>
	</table>	
</div>

<div id="welcome">
	<h1>Hallo Frank!</h1>
	<p>Welkom bij Spaarnwoude</p>
	<div class="btn">Over deze website</div>
</div>