<input type="text" ng-model="filtertje.naam">

<google-map ng-controller="KaartCtrl" center="map.center" zoom="map.zoom" draggable="true" bounds="map.bounds">

	<markers>
        <marker ng-repeat="activiteit in activiteiten | filter:filtertje" coords="{ latitude: activiteit.latitude, longitude: activiteit.longitude }" icon="icon" click="open.infoWindow(marker)">
        	<window
				show="false"
				coords="{ latitude: activiteit.latitude, longitude: activiteit.longitude }"
        	></window>
        </marker>
    </markers>
</google-map>
