<div ng-hide="singleHidden" id="single" ng-click="singleHandler.closeSingle($event)">
    <div class="wrapper">
        <div class="close" ng-click="singleHandler.closeSingle($event)"></div>
        <div class="left">
            <div class="bigImage"><img src="{{$root.config.url}}/{{activiteit.images.big}}" alt="" class="src"></div>
            <div class="smallWrap">
            <div class="smallImage" ng-click="singleHandler.swap($event, activiteit.images.big)">
                    <img src="{{$root.config.url}}/{{activiteit.images.big}}" alt="" class="src">
                </div>
                <div class="smallImage" ng-click="singleHandler.swap($event, activiteit.images.big2)">
                    <img src="{{$root.config.url}}/{{activiteit.images.big2}}" alt="" class="src">
                </div>
                <div class="smallImage" ng-click="singleHandler.swap($event, activiteit.images.big3)" >
                    <img src="{{$root.config.url}}/{{activiteit.images.big3}}" alt="" class="src">
                </div>
                <div class="smallImage" ng-click="singleHandler.swap($event, activiteit.images.big4)">
                    <img src="{{$root.config.url}}/{{activiteit.images.big4}}" alt="" class="src">
                </div>
            </div>
            <div class="naw">
                <p>{{activiteit.straatnaam}}</p>
                <p>{{activiteit.plaats}}</p>
                <p>{{activiteit.postcode}}</p>
            </div>
            <div class="social">                
                <a target="_blank" class="website" href="{{activiteit.website}}"></a>
                <a target="_blank" class="facebook" href="{{activiteit.facebookUrl}}"></a>
                <a target="_blank" class="twitter" href="{{activiteit.twitterUrl}}"></a>

            </div>
        </div>
        <div class="right">
            <h1 class="titel">{{activiteit.naam}}</h1>
            <p class="organisatie">{{activiteit.organisatie}}<br></p>
            <p class="categorie">Categorie:<br>{{activiteit.categorie}}</p>

            <h2 class="over">Over deze activiteit</h2>
            <p class="over">{{activiteit.long_desc}}</p>

            <h2>Beschikbaarheid</h2>
            <p class="beschikbaarheid">Maandag, Woensdag, Donderdag, Vrijdag, Zaterdag</p>
        </div>
    </div>
</div>

<div class="filterContainer">
	<input type="text" class="filter" ng-model="filtertje" placeholder="Zoeken">

	<ul>
		<li class="filterbtn doen" ng-click="filter('Doen')"><div class="icon"></div>Doen</li>
		<li class="filterbtn verblijven" ng-click="filter('Verblijven')"><div class="icon"></div>Verblijven</li>
		<li class="filterbtn genieten" ng-click="filter('Genieten')"><div class="icon"></div>Genieten</li>
		<li class="filterbtn beleven" ng-click="filter('Beleven')"><div class="icon"></div>Beleven</li>
	</ul>
</div>

<google-map ng-controller="KaartCtrl" center="map.center" zoom="map.zoom" draggable="true" bounds="map.bounds" events="map.events">
	<markers>
        <marker ng-repeat="activiteit in activiteiten | filter:filtertje" coords="{ latitude: activiteit.latitude, longitude: activiteit.longitude }" icon="icons[activiteit.categorie].icon" click="openWindow(activiteit.aID)">
        	<window coords='{ latitude: activiteit.latitude, longitude: activiteit.longitude }' show='isCurrentActiviteit(activiteit.aID)' options='{ content: infoWindow(activiteit), maxWidth: 200, disableDefaultUI: true }'></window>
        </marker>
    </markers>
</google-map>
