<div ng-hide="singleHidden" id="single" ng-click="singleHandler.closeSingle($event)">
    <div class="wrapper">
        <div class="close" ng-click="singleHandler.closeSingle($event)"></div>
        <div class="left">
            <div class="bigImage"><img src="{{$root.config.url}}/{{activiteit.images.big}}" alt="" class="src"></div>
        </div>
        <div class="right">
            <h1 class="titel">{{activiteit.naam}}</h1>
            <p class="organisatie">{{activiteit.organisatie}}<br></p>
            <p class="categorie">Categorie(en)<br>{{activiteit.categorie}}</p>

            <h2 class="over">Over deze activiteit</h2>
            <p class="over">{{activiteit.long_desc}}</p>

            <h2>Beschikbaarheid</h2>
            <p class="beschikbaarheid">Maandag, Woensdag, Donderdag, Vrijdag, Zaterdag</p>
        </div>
    </div>
</div>

<div class="filterContainer">
	<input type="text" class="filter" ng-model="filtertje.categorie" placeholder="Filter">

	<ul>
		<li class="filterbtn doen" ng-click="filter('Doen')">Doen</li>
		<li class="filterbtn verblijven" ng-click="filter('Verblijven')">Verblijven</li>
		<li class="filterbtn genieten" ng-click="filter('Genieten')">Genieten</li>
		<li class="filterbtn beleven" ng-click="filter('Beleven')">Beleven</li>
	</ul>
</div>

<google-map ng-controller="KaartCtrl" center="map.center" zoom="map.zoom" draggable="true" bounds="map.bounds">
	<markers>
        <marker ng-repeat="activiteit in activiteiten | filter:filtertje" coords="{ latitude: activiteit.latitude, longitude: activiteit.longitude }" icon="icons[activiteit.categorie].icon" click="openWindow(activiteit.aID)">
        	<window coords='{ latitude: activiteit.latitude, longitude: activiteit.longitude }' show='isCurrentActiviteit(activiteit.aID)' options='{ content: infoWindow(activiteit), maxWidth: 200, disableDefaultUI: true }'></window>
        </marker>
    </markers>
</google-map>
