.angular-google-map-container { min-height: 500px;}

#map_canvas {
	position: relative;
	margin-bottom:40px;
}

#tooltip {
	color: #eeeeee;
	position: absolute;
	z-index: 9999;
	background-color: #1BBC9B;
	padding: 5px 10px;
	display: none;
	min-height:80px;
	min-width: 250px;

	#tooltipName {
		font-size:15px;
		font-weight:bold;
		text-transform:uppercase;
	}

	@include transition(all, 0.2s, ease-in-out);
}

#tooltipCategories {

	.category {
		position: relative;
		width: 50%;
		float: left;

		img {
			height: 23px;
		}

		span {
			position: absolute;
			top: 1px;
			left: 30px;
		}
	}
}

#infoWindow {
	color: #eee;
	min-width: 450px;
	max-width: 350px;
	position: absolute;
	bottom: 0; right: 0;
	z-index: 9999;
	background-color: #F4B350;
	padding:13px;

	button {
		background-color:#B88F50;
		@include transition(background-color, 0.5s, ease-in-out);
	}

	button:hover {
		background-color:#EA9E29;
	}

	#infoWindowDescription {
		margin-bottom:13px;
	}
	@include transition(all, 0.2s, ease-in-out);

	.closeButton {
		text-align: right;
		display: inline-block;
		float: right;
		cursor: pointer;
	}
}
