modal {
  position: fixed;
  z-index: 9999999;
  left: 0; right: 0; top: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  .panel {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    top: 50%;
    border-radius:2px;
    left: 50%;
    width: 90%;
    max-width: 960px;
    min-width: 330px;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.35);
    button {
      @include transition(background-color, .5s, ease-in-out);
      position: absolute;
      top: 0px;
      right: 0;
      border-radius: 0px 2px 0px 2px;
      background-color: rgba(0, 0, 0, 0.5);
      font-weight: bold;
      text-transform: uppercase;

      &:hover {
        background-color:rgba(0, 0, 0, 0.8);
      }
    }

    .images {
      @include span-columns(7);
      margin-right:0;

      .bigImage {
        position:relative;

        .logo {
          position:absolute;
          bottom:10px;
          left:10px;
          opacity:0.7;
        }
      }

      .smallImages {
        margin-left:1px;
        img {
          margin: 7px;
          height: auto;
          max-width: 120px;
          cursor:pointer;

          &:last-of-type {
            margin-right:0;
          }
        }
      }
      .companyInfo {
        /* background:#eee; */
        padding:10px 10px 10px 20px;
        overflow:hidden;

        .social {
          float:left;

          ul {
            li {
              margin-bottom: 12px;
              margin-left: 20px;
            }
          }
        }

        .location {
          float:left;
        }
      }
    }

    .description {
      @include span-columns(5);
      padding:13px 13px 13px 20px;
      img {
        margin:5px;
      }
      h2 {
        font-size: 24px;
        font-weight: 200;
        color: #555;
      }

      p {
        color:#777;
        font-size:15px;
        margin:2px;
      }

    }
  }
}
