body.kaart {
  .openMap {
    display:none;
  }
}

modal {
  position: fixed;
  z-index: 9999999;
  left: 0; right: 0; top: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  .panel {
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    top: 50%;
    border-radius:2px;
    left: 50%;
    width: 90%;
    max-width: 960px;
    min-width: 330px;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.35);
    button {
      @include transition(background-color, .5s, ease-in-out);
      position: absolute;
      top: 0px;
      right: 0;
      border-radius: 0px 2px 0px 2px;
      background-color: rgba(0, 0, 0, 0.5);
      font-weight: bold;
      text-transform: uppercase;

      &:hover {
        background-color:rgba(0, 0, 0, 0.8);
      }
    }

    .images {
      @include span-columns(7);
      margin-right:0;

      .bigImage {
        position:relative;
        height: 314px;
        overflow:hidden;

        .logo {
          position:absolute;
          bottom:10px;
          left:10px;
          opacity:0.7;
        }

        .mainImage {
          min-height: 100%;
          min-width: 100%;
        }
      }

      .smallImages {
        @include span-columns(8);
        margin-left:1px;
        margin-top: 15px;
        img {
          height: auto;
          max-width: 85px;
          cursor: pointer;
          float: left;
          margin: 3px;

          &:last-of-type {
            margin-right:0;
          }
        }
      }
      .companyInfo {
        @include span-columns(4);
        /* background:#eee; */
        padding:10px 0px 10px 20px;
        overflow:hidden;
        width:30.76157%;
        display:block;
        .social {
          /* float:left; */
          display:block;

          ul {
            li {
              float:left;

              margin-right: 20px;
            }
          }
        }

        .location {
          /* float:left; */
          margin-bottom:10px;
        }
      }
    }

    .description {
      @include span-columns(5);
      position:relative;
      min-height:490px;

      padding:13px 13px 13px 20px;
      img {
        margin-right:4px;
      }
      small {
        margin-right:8px;
        color:#999;
      }
      .categories {
        display:block;
        margin-top:10px;
        margin-bottom:10px;
        .categorie {
          float:left;
        }
      }

      h2 {
        font-size: 24px;
        font-weight: 200;
        color: #555;
        width: 325px;
      }

      p {
        padding-right: 15px;
        color:#666;
        font-size:15px;
        margin:2px;
        max-height: 325px;
        margin-top:10px;
        padding-bottom: 50px;
        float:left;
        overflow-y:scroll;
        text-align:justify;
        font-size:15px;
        position:relative;

      }

      &:after {
        content: "";
        background: url("../../img/fade.png");
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-size: cover;
        height: 100px;
        opacity: 0.8;
      }

      .openMap {
        /* display:block; */
        @include transition(color .5s ease-in-out);
        color: #fb8e00;
        font-size: 10px;
        cursor:pointer;
        margin-top: 7px;
        margin-left: 1px;
        &:hover {
          color:#b75e00;
        }
      }
    }
  }
}
