<div class="activity-content">
	<div class="wrapper">
		<div class="image">
			<img ng-src="/img/activities/{{activity.id}}/medium/{{activity.img1}}" alt="">
		</div>

		<div class="logo" ng-if="activity.logo !== null">
			<a target="_blank" href="{{activity.website_url}}"><img src="/img/activities/{{activity.id}}/logo/{{activity.logo}}" alt=""></a>
		</div>	
		
	</div>
	<div class="infoBar">
			<p>{{activity.name}}</p>
		<div ng-click="$root.showModal(activity)" class="bekijk {{ activity.categories[0].toLowerCase()}}">
			BEKIJK
		</div>
	</div>

</div>


<!-- <button ng-click="$root.showModal(activity)">Bekijk</button> -->
