@import '../lib/bourbon/bourbon/bourbon';
@import '../lib/bourbon/bitters/base/base';
@import '../lib/bourbon/neat/neat';
@import 'modules/font-awesome/font-awesome';

@import 'modules/mixins';
@import 'modules/colors';
@import 'modules/modal';
@import 'modules/map';
@import 'modules/admin';

body {
	margin:auto;
	background-image: url("../../img/bg.jpg");
	background-size: cover;
	background-attachment: fixed;
}

nav {
	min-height:80px;
	border-bottom:1px solid black;
	display: block;
	margin-bottom:20px;
	background:white;
}

nav ul {
	display: inline-block;
	margin-top:10px;
}

nav ul li {
	display: inline-block;
	margin:0px 30px 0px 0px;
	vertical-align: middle;

	a {
		@include transition(all, .5s, ease-in-out);
		color:#333;
		position:relative;

		&:hover {
			color:#333;
		}

		&:focus {
			color:#32AADF;

			&:after {
				width:100%;
			}
			
		}

	}

	a:after {
		content: "";
		transition: width .5s ease;
		position: absolute;
		top: 22px;
		left: 0;
		border-bottom: 2px solid #32AADF;
		width: 0%;
		height: 2px;
	}

	a:hover:after {
		width: 100%;
	}
}

nav .social {
	float:right;
	/* padding:20px 20px 20px 20px; */

	ul.socialList {
		padding:0;

		li {
			margin-top:17px;
			vertical-align:middle;
		}
	}
}

nav .social div {
	display: inline-block;
	margin:0px 30px 0px 0px;
	vertical-align: middle;
}

table {
	form {
		float: left;
	}
}

.activities {
	float: left;
	@include span-columns(8);
	margin-right:0;
}

.weatherWidget {
	@include fill-parent();
	min-height: 212px;
	max-height: 212px;
	margin:0;
	background: #32aadf;
	background: #33abda;
	background: -moz-linear-gradient(top, #33abda 1%, #1984ad 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#33abda), color-stop(100%,#1984ad));
	background: -webkit-linear-gradient(top, #33abda 1%,#1984ad 100%);
	background: -o-linear-gradient(top, #33abda 1%,#1984ad 100%);
	background: -ms-linear-gradient(top, #33abda 1%,#1984ad 100%);
	background: linear-gradient(to bottom, #33abda 1%,#1984ad 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33abda', endColorstr='#1984ad',GradientType=0 );

	ul {
		height:209px;
		padding-top:20px;
	}
	h5,p {
		color:white;
		text-align: center;
	}
	img {
		margin:1em auto;
		display: block;
		max-width:60px;
	}
	.day {
		font-weight: bold;
		padding-top: 19px;
	}
	.rn-carousel-controls {
		span {
			color:white
		}
	}
// @include row(table);
}

.miniMap {
	@include fill-parent();
	margin:0;
	height: 150px;
	position: relative;
	background-image: url(../../img/minimap.jpg);
	background-size: cover;
// @include row(table);

	a {
		p{
			position: absolute;
			top: 50%;
			margin-top: -20px;
			padding-top: 5px;
			padding-bottom: 5px;
			text-align: center;
			width: 100%;
			background-color: #ff9405;
			font-size: 15px;
			font-weight: bold;
			-webkit-font-smoothing: antialiased;
			color: #fff;
		}
	}
}

/* .facebook {
	@include span-columns(2);
	margin:0;
} */
.outer-container {
	max-width: 1000px;
	min-width: 1000px;
	margin:auto;
	overflow: hidden;
}
.widgets {
	@include span-columns(4);
	margin:0;
	/* width:27.23176%; */
}
.activity-content {
	max-width: 100%;
	p {
		color:white;
	}
	margin:0;
	.infoBar {
		background: white;
		position: relative;
		height: 75px;
		margin-top: -3px;
		padding: 21px;
		p {
			margin: 0;
			float: left;
			vertical-align: middle;
			height: 100%;
			font-size:20px;
			font-weight:bold;
			max-width: 80%;
			clear: right;
			color:#555;
		}

		.bekijk {
			position: absolute;
			right:0;
			top:0;
			bottom:0;
			line-height: 460%;
			cursor: pointer;
			width:20%;
			vertical-align: middle;
			color:white;
			text-align: center;
		}
		.bekijk.beleven {
			background: #F18A01;
		}

		.bekijk.doen {
			background: #B7037E;
		}

		.bekijk.genieten {
			background: #32AADF;
		}

		.bekijk.verblijven {
			background: #DBDB00;
		}

	}
}

.activities-list {
	width:100%;

	.activity-content {
		max-width: 477px;
		display: inline-block;
		margin: 10px;

		.infoBar {
			margin-top: -5px;
		}
	}

	ul {
		width:100%;
		height:340px;
	}

	.wrapper {
		position:relative;

		.logo {
			position:absolute;
			bottom:15px;
			left:10px;
			max-width:140px;
		}
	}
}

.activities {
	ul {
		width:100%;
		height:381px;
	}

	ul li .wrapper {
		position:relative;

		.logo {
			position:absolute;
			bottom:10px;
			left:10px;
			max-width:140px;
		}

		.image {
			img {
				min-width:659px;
				height:100%;
				display:block;
			}

		}
	}


}

#buttons {
	float: left;
	overflow: hidden;
	width: 100%;
	margin-top:20px;


		p {
			position: absolute;
			z-index: 200;
			top: 42px;
			bottom: 0;
			left: 40px;
			font-size: 18px;
		}

		.btn {
			float:left;
			color:white;
			height:110px;
			cursor:pointer;
			width:24.6%;
			position:relative;

		}


		.categoryImg {
			height: 110px;
			background-repeat: no-repeat;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 111px;
		}

		.categoryImg.genieten {
			background-image: url("../../img/icons/categories/genieten.png");
			background-size:contain;
		}

		.categoryImg.doen {
			background-image: url("../../img/icons/categories/doen.png");
			background-size:contain;
		}

		.categoryImg.verblijven {
			background-image: url("../../img/icons/categories/verblijven.png");
			background-size:contain;
		}

		.categoryImg.beleven {
			background-image: url("../../img/icons/categories/beleven.png");
			background-size:contain;
		}
	.btn.genieten {
		background-color:#31A5D8;
	}

	.btn.doen {
		background-color:#A60072;
	}

	.btn.verblijven {
		background-color:#D5D500;
	}

	.btn.beleven {
		background-color:#E58200;
	}
}
