@import '../lib/bourbon/bourbon/bourbon';
@import '../lib/bourbon/bitters/base/base';
@import '../lib/bourbon/neat/neat';

@import 'modules/mixins';
@import 'modules/colors';
@import 'modules/modal';
@import 'modules/map';
@import 'modules/admin';
@import 'modules/news';
@import 'modules/agenda';

body {
	margin:auto;
	background-image: url("../../img/bg3.jpg");
	background-size: cover;
	background-attachment: fixed;
}

nav {
	min-height:80px;
	box-shadow:1px 1px 1px rgba(0,0,0,0.3);
	display: block;
	margin-bottom:20px;
	background:rgba(250,250,250,0.8);

	.logo {
		margin-top: 28px;
		max-width: 150px;
		float: left;
	}
	ul {
		display: inline-block;
		margin-top: 27px;
		margin-left: 40px

	}

	}
.topBar {
	min-height:45px;
	border-bottom:1px solid rgba(0,0,0,.1);
	background:rgba(246, 246, 246, 0.68);
	a.facebook-login {
		margin-top:10px;
		color:#666;
		float:left;
	}
	.social {
		float:right;
		/* padding:20px 20px 20px 20px; */
		div {
			display: inline-block;
			/* margin:0px 30px 0px 0px; */
			vertical-align: middle;
		}
		ul.socialList {
			padding:0;
			display: inline-block;
			/* margin-top:10px; */


			li {
				/* padding:10px; */
				display:inline-block;
				vertical-align:middle;
				margin:10px;
				a {
					color :#666;
				}
			}
		}
	}
}

nav ul li {
	float:left;
	margin:0px 30px 0px 0px;
	vertical-align: middle;

	a {
		@include transition(all, .5s, ease-in-out);
		color:#333;
		position:relative;
		font-size: 12px;
text-transform: uppercase;
font-weight: bold;

		&:hover {
			color:#333;
		}

		&:focus {
			color:#32AADF;

			&:after {
				width:100%;
			}

		}

	}

	a:after {
		content: "";
		transition: width .5s ease;
		position: absolute;
		top: 22px;
		left: 0;
		border-bottom: 2px solid #32AADF;
		width: 0%;
		height: 2px;
	}

	a:hover:after {
		width: 100%;
	}
}

table {
	form {
		float: left;
	}
}

.activities {
	float: left;
	@include span-columns(8);
	margin-right:0;
	width:67.88078%;
}

.weatherWidget {
	@include fill-parent();
	min-height: 212px;
	max-height: 212px;
	margin:0;
	background: #32aadf;
	background: #33abda;
	background: -moz-linear-gradient(top, #33abda 1%, #1984ad 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#33abda), color-stop(100%,#1984ad));
	background: -webkit-linear-gradient(top, #33abda 1%,#1984ad 100%);
	background: -o-linear-gradient(top, #33abda 1%,#1984ad 100%);
	background: -ms-linear-gradient(top, #33abda 1%,#1984ad 100%);
	background: linear-gradient(to bottom, #33abda 1%,#1984ad 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33abda', endColorstr='#1984ad',GradientType=0 );

	ul {
		height:209px;
		padding-top:20px;
	}
	h5,p {
		color:white;
		text-align: center;
	}
	img {
		margin:1em auto;
		display: block;
		max-width:60px;
	}
	.day {
		font-weight: bold;
		padding-top: 19px;
	}
	.rn-carousel-controls {
		span {
			color:white
		}
	}
// @include row(table);
}

.miniMap {
	@include fill-parent();
		margin:0;
	height: 150px;
	position: relative;
	background-image: url(../../img/minimap.jpg);
	background-size: cover;
// @include row(table);

	a {
		p{
			position: absolute;
			top: 50%;
			margin-top: -20px;
			padding-top: 5px;
			padding-bottom: 5px;
			text-align: center;
			width: 100%;
			background-color: #ff9405;
			font-size: 15px;
			font-weight: bold;
			-webkit-font-smoothing: antialiased;
			color: #fff;
		}
	}
}

/* .facebook {
	@include span-columns(2);
	margin:0;
} */
.outer-container {
	max-width: 1000px;
	min-width: 1000px;
	margin:auto;
	overflow: hidden;
}
.widgets {
	@include span-columns(4);
	margin:0;
	width:30.46157%;
}
.activity-content {
	max-width: 100%;
	p {
		color:white;
	}
	margin:0;
	.infoBar {
		cursor:pointer;
		background: white;
		position: relative;
		height: 75px;
		margin-top: -3px;
		padding: 21px;
		p {
			margin: 0;
			float: left;
			vertical-align: middle;
			height: 100%;
			font-size:20px;
			font-weight:bold;
			max-width: 80%;
			clear: right;
			color:#555;
		}
		img {
			margin-right:12px;
			&:last-of-type{
				margin-right:0px;
			}
		}


		.bekijk {
			position: absolute;
			right:0;
			top:0;
			bottom:0;
			line-height: 490%;
			cursor: pointer;
			width:20%;
			vertical-align: middle;
			color:white;
			text-align: center;
		}
	}
}
.filter {
	.zoeken {
		background:#222;
		color:white;
		padding:10px;
		max-width: 250px;
		/* margin-left: 9px; */
	}

	input {
		max-width: 250px;
		/* margin-left: 9px; */
		border-radius: 0;
		border: 0;
		padding: 15px;
	}

	&.map {
		margin-left: 0px;
		.zoeken {
			margin-left: 0px;
		}
		input {
			margin-left:0;
			margin-bottom:22px;
		}
	}
}

.activities-list {
	width:100%;
	padding-bottom:20px;
	activity:nth-child(odd) {
		margin-right:10px;
	}

	activity:nth-child(even) {
		margin-right:0;
	}

	.activity-content {
		max-width:  492px;
		cursor:pointer;
		margin-top:10px;
		display: inline-block;
		/* margin: 10px 10px 10px 10px; */
		img {
			/* margin-right:12px; */
			&:last-of-type{
				margin-right:12px;
			}
		}
		.infoBar {
			margin-top: -6px;
		}
	}

	ul {
		width:100%;
		height:340px;
	}

	.wrapper {
		position:relative;

		.logo {
			position:absolute;
			bottom:15px;
			left:10px;
			max-width:140px;
		}
	}
}

.activities {
	ul {
		width:100%;
		height:381px;
	}

	ul li .wrapper {
		position:relative;
		cursor:pointer;

		.logo {
			position:absolute;
			bottom:10px;
			left:10px;
			max-width:140px;
		}

		.image {
			img {
				min-width:679px;
				height:100%;
				display:block;
			}

		}
	}


}

#buttons {
	float: left;
	overflow: hidden;
	width: 100%;
	margin-top:20px;


		p {
			position: absolute;
			z-index: 200;
			top: 45px;
			bottom: 0;
			left: 0;
			font-size: 18px;
			width: 100%;
			text-align: center;
		}

		.btn {
			float:left;
			color:white;
			height:110px;
			cursor:pointer;
			width:24.6%;
			position:relative;

		}


		.categoryImg {
			height: 110px;
			background-repeat: no-repeat;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 111px;
		}

		.categoryImg.genieten {
			background-image: url("../../img/icons/categories/genieten.png");
			background-size:contain;
		}

		.categoryImg.doen {
			background-image: url("../../img/icons/categories/doen.png");
			background-size:contain;
		}

		.categoryImg.verblijven {
			background-image: url("../../img/icons/categories/verblijven.png");
			background-size:contain;
		}

		.categoryImg.beleven {
			background-image: url("../../img/icons/categories/beleven.png");
			background-size:contain;
		}
	.btn.genieten {
		background-color:#31A5D8;
	}

	.btn.doen {
		background-color:#A60072;
	}

	.btn.verblijven {
		background-color:#D5D500;
	}

	.btn.beleven {
		background-color:#E58200;
	}
}
