<div class="top"></div>
<div class="categoryWrapper">
    <img width="20" ng-repeat="category in item.categories" ng-src="/img/icons/{{category}}_colored.png" alt="">
  </div>
<div ng-click="setActive(item)">
  <h5>{{item.name}}</h5>
  
  <small><strong>Vanaf:</strong> {{item.start}}</small> <br/>
  <small><strong>Tot:</strong> {{item.end}}</small>
  <div class="info">
    <small>{{item.address}}</small>
    <small>{{item.zipcode}}</small>
    <small>{{item.city}}</small>
  </div>
  <div class="description">
    <p><b>Beschrijving:</b></p>
    <p>{{item.description || "Geen beschrijving"}}</p>
  </div>

</div>