@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  min-width: 700px;
  font-family: 'Open Sans', 'sans-serif';
}

body {
  position: relative;
}

nav {
  height: 80px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
  -moz-box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
  box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
}

nav .wrap {
  width:1000px;
  margin: 0 auto;
  position:relative;
}

body ul.social {
  position: absolute;
  right: 0;
  list-style:none;
  top: 0;
  height:80px;
}

body ul.social li {
  float: left;
  width: 80px;
  height: 100%;
  border-right: 1px solid #D8D8D8;
  opacity: 0.9;
}

body ul.social li a{
  display: block;
  margin:2em auto;
  height: 100%;
  width: 15px;
  height: 15px;

}

body ul.social li a.twitter {
  background-image: url(../images/social_icons_nav.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

body ul.social li a.facebook {
  background-image: url(../images/social_icons_nav.png);
  background-position: -29px 0;
  background-repeat: no-repeat;
  width: 8px;
}

body ul.social li a.email {
  background-image: url(../images/social_icons_nav.png);
  background-position: -17px 0;
  background-repeat: no-repeat;
  width:12px;
}

nav .wrap .logo {
  background: #fff;
  float: left;
  
  width: 250px;
  height: 50px;
  margin-top: 14px;
}

nav .wrap .logo img {
  width: 100%;
}

nav ul {
  list-style-type: none;
  overflow: auto;
}

nav ul li {
  float: left;
  margin-right: 20px;
  margin-top: 30px;
  margin-left: 70px;
  font-weight: bold;
  font-size: .9em;
}

/* Space out content a bit */
body {
  font-family: 'Open Sans', 'sans-serif';
  background: url(../images/bg.jpg);
  background-size: cover;
  background-attachment:fixed;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.iecontainer {
  background: #eee;
  padding: 20px;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.iecontainer p {
  margin-top: 15px;
}

.container {
  width: 1000px;
  margin: 50px auto;
  position: relative;
}

.notLoggedIn .btn {
  padding: 10px 25px 10px 25px;
  background: #3B5998;
  display: block;
  margin-top: 15px;
  width: 137px;
  font-size:14px;
  text-align: center;
  color: white;
  font-style: italic;
  cursor: pointer; cursor: hand;
}

.notLoggedIn p {
  color: white;
  font-size: 13px;
  max-width: 225px;
  margin-top: 10px;
  font-style: italic;
  text-shadow: 1px 1px 1px #222;
}

.loguit {
  opacity: 0;
}

.loader {
  position: absolute;
  top: 50px;
  left: 20px;
  opacity: 0;
}

.loader img {
  width: 20px;
  height: 20px;
}

.loader span {
  color: white;
  font-size: 13px;
  position: relative;
  top: -5px;
  left: 15px;
}

#fbContainer {
/*  background-image:url(../images/bg_user_login.png);
*/  /*background-repeat: no-repeat;*/
  float: left;
  width: 250px;
  height: 150px;
  position: relative;

}
#fbContainer .foto {
  margin: auto;
  overflow:hidden;
  display: block;
  width: 199px;
  height: 190px;
  position: absolute;
  top: -57px;
  left: -60px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 3px 4px rgba(0,0,0,0.5);
  -o-box-shadow: 1px 3px 4px rgba(0,0,0,0.5);
  -webkit-transform: scale(0.4);

}

#fbContainer .foto img {
  position: relative;
  width:100%;
  height:100%;
}

#fbContainer .loggedInAs {
color: #FFF;
text-shadow: 1px 1px 1px #000;
position: absolute;
left: 87px;
top: 0;
font-size: 13px;
text-align: left;
max-width: 160px;
}

#fbContainer .loggedInAs b {
  font-size: 19px;
}

#welcome {
  float: left;
  width: 25%;
  height: 155px;
  margin-top: -178px;
  text-align: left;
  font-style: italic;
  color: #fff;
}

#welcome h1 {
  margin-top: 25px;
  margin-left:0;
}

#welcome p {
  font-weight:200;
}

#welcome .btn {
  padding: 5px 25px 5px 25px;
  background: #4aaa49;
  display: block;
  margin-top: 5px;
  width: 137px;
  font-size:16px;
  text-align: center;
  cursor:pointer;
  cursor:hand;

}

#welome .btn:hover {
  background: #4FB44E;
  transition:;
}

#welcome .btn.loguit {
  cursor:pointer;
  background: #ff3636;
}

#fbContainer .loguit {
  position: absolute;
  bottom: 0;
  cursor:pointer;
  cursor:hand;
  left: 0;
  right: 0;
  text-align: center;
  background: #e82044;
}

#fbContainer .loguit a {
  text-transform: uppercase;
  color: #fff;
  font-size: 0.7em;
}

#fotoSlider {
  position: relative;
  width: 500px;
  height: 300px;
  background: #fff;
  overflow: hidden;
  float: left;

  -webkit-box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
  -moz-box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
  box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
}

#fotoSlider .wrapper {
  overflow: hidden;
  position: relative;
  height: 100%;
}

#fotoSlider .wrapper div button:active {
  background-color: #faf;
}

#fotoSlider .wrapper activiteit {
  position: absolute;
  margin: 0 !important;
}

#fotoSlider activiteit .fotoWrapper {
    height: 240px;
    position:relative;
}

#fotoSlider activiteit .fotoWrapper:hover > .link {
    opacity:1;
}

#fotoSlider activiteit .fotoWrapper .link {
    opacity: 0.8;
     -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
}

#fotoSlider activiteit .fotoWrapper .logo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 120px;
    
}

/*
#fotoSlider activiteit .fotoWrapper .logo:hover {
    opacity: 1;
}
*/

#fotoSlider .wrapper activiteit button {
  height: 60px;
}

#fotoSlider activiteit .wrapper p {
margin-top: 22px;
margin-left: 22px;
float: left;
font-size: 14px;
}

#buttons {
  float:left;
  margin-top:40px;

  -webkit-box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
  -moz-box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
  box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
}

#buttons .btn {
  width: 250px;
  cursor: pointer;
  height: 100px;
  float: left;
  text-align: right;
  line-height: 620%;
  color: #FFF;
  cursor:pointer;
  cursor:hand;
  font-size: 18px;
  font-weight: 200;
}


#fotoSlider .left {
  position: absolute;
  color: #fff;
  width: 40px;
  background: transparent;
  left: 0;
  top: 0;
  bottom: 70px;
  cursor: pointer;
  cursor: hand;
  z-index: 5;
}

#fotoSlider .right {
  position: absolute;
  color: #fff;
  width: 40px;
  background: transparent;
  right: 0;
  top: 0;
  bottom: 70px;
  cursor: pointer;
  cursor: hand;

  z-index: 5;
}

#mapsWidget {
  width: 250px;
  height: 150px;
  float: left;
  position: relative;
  background-image:url(../images/minimap.jpg);
  background-size: cover;
}

#mapsWidget .wrap {
  width: 100%;
  height: 100%;
}

#mapsWidget .wrap p {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  width: 100%;
  background-color: #ff9405;
  font-size: 12px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

#mapsWidget img {
  width: 100%;
  height: 100%;
}

#weatherWidget {
  width: 250px;
  height: 150px;
  float: left;
  background: #32aadf;

  -webkit-box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
  -moz-box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
  box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);

  background: #33abda; /* Old browsers */
  background: -moz-linear-gradient(top,  #33abda 1%, #1984ad 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#33abda), color-stop(100%,#1984ad)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #33abda 1%,#1984ad 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #33abda 1%,#1984ad 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #33abda 1%,#1984ad 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #33abda 1%,#1984ad 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33abda', endColorstr='#1984ad',GradientType=0 ); /* IE6-9 */

}
#weatherWidget .wrapper {
  position: relative;
}
#weatherWidget .wrapper .weerTop {
  color: #FFF;
  font-size: 12px;
  text-align: center;
  margin: 10px 0 10px 0;
}
#weatherWidget .wrapper .slider {
  position:relative;
  overflow:hidden;
  min-height: 111px;
}

#weatherWidget .wrapper .slider .slide {
  position:absolute;
  width:100%;
}

#weatherWidget .wrapper .slider .deDag {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: #FFF;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

#weatherWidget .wrapper .next {
  cursor: pointer; cursor: hand;
  background-image: url(../images/arrow_next_weer.png);
  background-repeat: no-repeat;
  width:11px;
  height:16px;
  position: absolute;
  top: 40px;
  z-index: 999;
  right: 20px;
}

#weatherWidget .wrapper .prev {
  cursor: pointer; cursor: hand;
  background-image: url(../images/arrow_prev_weer.png);
  background-repeat: no-repeat;
  width:11px;
  height:16px;
  z-index: 999;
  position: absolute;
  top: 40px;
  left: 20px;
}
#weatherWidget .wrapper .slider .voorspelling {
  color: #FFF;
  font-size: 14px;
  margin: 0.6em auto;
  text-align: center;
  margin-top: 1em;
}

#weatherWidget .wrapper .slider .windkracht {
  color: #FFF;
  font-size: 13px;

  margin: auto;
  text-align: center;
}

.filter {
  width: 1030px;
  margin: auto;
}

.filter p {
  width: 200px;
  padding: 10px;
  color: white;
  font-style: italic;
  background-color: #222;
  font-size: 14px;
}

.filter input {
  width: 200px;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 14px;
}

.activiteitenContainer {
  width: 1030px;
  margin: auto;
  margin-top: 10px;
}

activiteit {
  width: 500px;
  float: left;
  margin-bottom: 15px;
}

activiteit:nth-child(odd) {
  margin-right: 15px;
}

activiteit .fotoWrapper {
    position:relative;
  height: 250px;
}
activiteit .fotoWrapper:hover > .link {
    opacity:1;
}

activiteit .fotoWrapper .link {
    opacity: 0.8;
     -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
}

activiteit .fotoWrapper .logo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 120px;
    
}
activiteit .foto {
  width: 100%;
  height: 100%;
}

activiteit .wrapper {
  background: #fff;
  height: 50px;
}

activiteit .wrapper p {
  margin-top: 15px;
  margin-left: 15px;
  float: left;
  font-size: 14px;
}

activiteit button {
  background-color: #222;
  width: 150px;
  height: 100%;
  float: right;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer; cursor: hand;
  text-transform: uppercase;
  font-size: 13px;

  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

activiteit button:hover {
  background-color: #333;
}

activiteit button:active {
  background-color: #555;
}

.angular-google-map-container { height: 400px; }

#single {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(2,2,2, 0.6);
  z-index: 5;
}

#single .wrapper {
  width: 1000px;
  min-height: 600px;
  margin: 5% auto;
  position: relative;
  z-index:99999;
}

#single .wrapper .close {
  padding: 5px;
  z-index:1;
  float: right;
  color: #FFF;
  cursor: pointer;
  position: absolute;
  top: -1px;
  right: -1px;
  cursor: hand;
  background: url(../images/close_icon_single.png);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

#single .wrapper .left, .right {
  float:left;
  width:50%;
  color:#333;
  overflow:hidden;
  height:100%;
  min-height:600px;
  background:white;
  position:relative;
}

#single .wrapper .right .link {
    position: absolute;
    right: 40px;
    top: 60px;
}
#single .wrapper .right .link img {
    width:120px;
    
}
#single .left .bigImage {
  overflow:hidden;
  height:300px;
}
#single .left .smallWrap {
  overflow: hidden;
  margin-top:14px;
  margin-left: 16px;
  margin-bottom: 10px;

}
#single .left .smallImage {
  float:left;
  margin:5px;
  overflow:hidden;
  width:80px;
  height:80px;
  cursor: pointer;

}

#single .left .smallImage img {
  height:100%;
}

#single .left .bigImage img {
  display: block;
  margin: auto;
  -webkit-transform: scale(1.2);
  width: 100%;

}
#single .left .naw {
  background-color:#f7f7f7;
  padding: 15px;
  max-width: 322px;
  height: auto;
  margin-left: 20px;
}
#single .left .social {
  margin-left: 20px;
}

#single .left .social .website {
  float:left;
  background-image:url(../images/social_icons_single.png);
  background-position: 0 0;
  width:40px;
  height:40px;
  margin-right:20px;
  margin-top:15px;
}

#single .left .social .twitter{
  float:left;
  background-image:url(../images/social_icons_single.png);
  background-position: 94px 0;
  width:40px;
  height:40px;
  margin-right:20px;
  margin-top:15px;
}

#single .left .social .facebook {
  float:left;
  background-image:url(../images/social_icons_single.png);
  background-position: 41px 0;
  width:40px;
  height:40px;
  margin-right:20px;
  margin-top:15px;
}

#single .wrapper .right p.categorie {
  background-image: url(../images/categorie_icon_single.png);
  background-position: 0px 7px;
  padding-left: 24px;
  background-repeat: no-repeat;
  margin: 10px 0 10px 23px;
  font-size: 11px;
  text-transform: capitalize;
  color:#333;
}

#single .wrapper .right p.organisatie {
  background-image: url(../images/locatie_icon_single.png);
  background-position: 4px 6px;
  padding-left: 20px;
  background-repeat: no-repeat;
  margin: 10px 0 10px 23px;
  font-size: 11px;
  color:#555;
  min-height:23px;
}

#single .wrapper .right p.organisatie a {
  color:orange;
}

#single .wrapper .right p.over {
  font-size: 13px;
  color:#555;
  line-height: 155%;
  margin-left:23px;
  margin-right:23px;

}

#single .wrapper .right h1.titel {
  margin:20px 0 0 24px;
}

#single .wrapper .right h2 {
  margin: 10px 0 10px 20px;
}

#single .wrapper .right .beschikbaarheid {
  font-size:12px;
  color:#555;
  margin-left:23px;
}

.filterContainer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 175px;
  background-color: #f0ede5;
  z-index: 1;
}

.filterContainer input {
  position: absolute;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;

  box-sizing: border-box;
  padding: 20px;

  font-size: 14px;

}

.filterContainer ul {
  margin-top: 40px;
  list-style: none;
}

.filterContainer li {
  width: 100%;
  box-sizing: border-box;
  /* padding: 20px 20px 20px 20px; */
  color: #FFF;
  cursor: pointer;
  cursor: hand;
  -webkit-transition: text-indent .3s;
  -moz-transition: text-indent .3s;
  -ms-transition: text-indent .3s;
  -o-transition: text-indent .3s;
  transition: text-indent .3s;
  height: 61px;
  text-indent: 10px;
  line-height: 390%;
  text-align: left;
}

.filterContainer li:hover {
  text-indent: 21px;
}

.filterContainer li.doen .icon {
  content: "";
  background-image: url(../images/doen_icon_nocircle.png);
  height:22px;
  width:22px;
  background-repeat: no-repeat;
  float:left;
  margin-top: 22px;
  margin-left: 22px;
}
.doen {
  background-color: #b7037e;
}

.verblijven {
  background-color: #dbdb00;
}
.filterContainer li.verblijven .icon{
  content: "";
  background-image: url(../images/house_icon_nocircle.png);
  height:22px;
  width:22px;
  background-repeat: no-repeat;
  float:left;
  margin-top: 22px;
  margin-left: 22px;
}

.genieten {
  background: #32aadf;
}
.filterContainer li.genieten .icon {
  content: "";
  background-image: url(../images/genieten_icon_nocircle.png);
  height:22px;
  width:22px;
  background-repeat: no-repeat;
  float:left;
  margin-top: 22px;
  margin-left: 22px;
}
.beleven {
  background: #f18a01;
}
.filterContainer li.beleven .icon {
  content: "";
  background-image: url(../images/beleven_icon_nocircle.png);
  height:22px;
  width:22px;
  background-repeat: no-repeat;
  float:left;
  margin-top: 22px;
  margin-left: 22px;
}
.infoContainer {
  padding: 10px;
}

.infoContainer .images {
  width: 170px;
  margin: auto;
  margin-top: 20px;
  position: absolute;
  bottom: 40px;
}

.infoContainer .images div {
  float: left;
  overflow: hidden;
}

.infoContainer .images div img {
  height: 100%;
}

.infoContainer .images .image1 {
  width: 50px;
  height: 50px;
  background-color: #eaeaea;
  margin-right: 10px;
}

.infoContainer .images .image2 {
  width: 50px;
  height: 50px;
  background-color: #eaeaea;
  margin-right: 10px;
}

.infoContainer .images .image3 {
  width: 50px;
  height: 50px;
  background-color: #eaeaea;
}

.infowindow_naam {
  font-size: 15px;
  font-weight: bold;
}

.infoWindowLink {
  cursor: pointer; cursor: hand;

  position: absolute;
  bottom: 15px;
}

.gm-style-iw {
  position: absolute !important;
  left: -10px !important;
  top: 0 !important;
  overflow: auto !important;
  width: 265px !important;
  height: auto !important;
  min-height: 150px !important;
  background-color: #fff !important;
  bottom: -50px;
}

body > div > google-map > div > div.angular-google-map-container > div > div:nth-child(1) > div > div:nth-child(3) > div:nth-child(3) > div {
  margin-top: -50px;
  margin-left: 145px;
}

body > div > google-map > div > div.angular-google-map-container > div > div:nth-child(1) > div > div:nth-child(3) > div:nth-child(3) > div > div:nth-child(3) {
  top: 10px !important;
  right: 0px !important;
}

#agenda {
  width:1000px;
  background: #FFF;
}

#agenda .agendaLijst {
  list-style: none;
  overflow: hidden;

}

#agenda .agendaLijst .item {
  list-style: none;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.3);
  box-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

#agenda .agendaLijst .item .lijntje {
  width: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
}

#agenda .agendaLijst .item .punten {
  list-style: none;
  padding: 23px 23px 23px 43px;
  overflow: hidden;
}

#agenda .agendaLijst .item .punten li {
  float:left;
  font-size:15px;
  margin-right:2em;
}

#agenda .agendaLijst .item .punten li.naam {
  margin-right:0;
  width:290px;
}

#agenda .agendaLijst .item .punten .open {
  display: none;
  cursor:pointer;
  cursor: hand;
/*  background: #FF5E5E;*/
  position: absolute;
  right: -30px;
  padding: 23px;
  top: 0px;
  color: #FFF;
  width: 100px;
  text-align: center;
  -webkit-transition: background .3s;
  -moz-transition: background .3s;
  -ms-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
}

#agenda .agendaLijst .item .punten .open:hover {
  background:green;
}

/* ANIMATIONS */


.fade.ng-enter,
.fade.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.fade.ng-enter,
.fade.ng-leave.ng-leave-active {
  opacity:0;
}
.fade.ng-leave,
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

#overPopup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(2, 2, 2, 0.6);
  z-index: 5;
}

#overPopup .wrapper {
  width: 880px;
  margin: 5% auto;
  position: relative;
  z-index: 99999;
  background: #FFF;
  padding: 60px;
  line-height: 185%;
  font-size: 18px;
  height: auto;
}

#overPopup .wrapper .close {
  padding: 5px;
  float: right;
  color: #FFF;
  cursor: pointer;
  position: absolute;
  top: -1px;
  right: -1px;
  cursor: hand;
  background: url(../images/close_icon_single.png);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

@media only screen and (device-width: 768px) {
  body {
    -webkit-transform: scale(0.90);
  }
}
