@font-face {
    font-family: 'Open Sans'; /*a name to be used later*/
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf'); /*URL to font*/
}

* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  min-width: 700px;
  font-family: 'Open Sans';
}

nav {
  height: 60px;
  background: #fff;

  -webkit-box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
  -moz-box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
  box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
}
nav .wrap {
  width:1000px;
  margin: 0 auto;
}

nav .wrap .logo {
  padding: 18px;
  background: #fff;
  float: left;
  -webkit-box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
  -moz-box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
  box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
}

nav ul {
  list-style-type: none;
  overflow: auto;
}

nav ul li {
  float: left;
  margin-right: 20px;
  margin-top: 21px;
  margin-left: 50px;
  font-weight: bold;
  font-size: .9em;
}

/* Space out content a bit */
body {
  font-family: 'Open Sans', sans-serif;
  background: url(../images/bg.jpg);
  background-size: cover;
  background-attachment:fixed;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 1000px;
  margin: 50px auto;
  /*overflow: auto;*/
  position: relative;
}

#fbContainer {
  background-image:url(../images/bg_user_login.png);
  /*background-repeat: no-repeat;*/
  float: left;
  width: 250px;
  height: 150px;
  position: relative;
  -webkit-box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
  -moz-box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
  box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
}
#fbContainer .foto {
  background-image: url(http://frankselhorst.nl/img/foto_frank.png);
  margin: auto;
  display: block;
  width: 199px;
  height: 190px;
  position: absolute;
  top: -27px;
  left: -44px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 3px 4px rgba(0,0,0,0.5);
  -o-box-shadow: 1px 3px 4px rgba(0,0,0,0.5);
  -webkit-transform: scale(0.4);
  border-radius: 100%;
}

#fbContainer .loggedInAs {
color: #FFF;
text-shadow: 1px 1px 1px #000;
position: absolute;
right: 5px;
top: 41px;
font-size: 13px;
text-align: right;
}

#fbContainer .loggedInAs b {
  font-size: 19px;
}

#welcome {
  float: left;
  width: 25%;
  height: 155px;
  margin-top: -155px;

  text-align: center;
  font-style: italic;
  color: #fff;
}

#welcome h1 {
  margin-top: 25px;
}

#welcome .btn {
  padding: 10px 25px 10px 25px;
  background: #4aaa49;
  display: inline-block;
  margin-top: 15px;
}

#fbContainer .loguit {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #e82044;
}

#fbContainer .loguit a {
  text-transform: uppercase;
  color: #fff;
  font-size: 0.7em;
}

#fotoSlider {
  position: relative;
  width: 500px;
  height: 300px;
  background: #fff;
  overflow: hidden;
  float: left;

  -webkit-box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
  -moz-box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
  box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
}

#fotoSlider .wrapper {
  overflow: hidden;
  position: relative;
  height: 100%;
}

#fotoSlider .wrapper div button:active {
  background-color: #faf;
}

#fotoSlider .wrapper activiteit {
  position: absolute;
  margin: 0 !important;
}

#fotoSlider activiteit .fotoWrapper {
height: 240px;
}

#fotoSlider .wrapper activiteit button {
  height: 60px;
}

#fotoSlider activiteit .wrapper p {
margin-top: 22px;
margin-left: 22px;
float: left;
font-size: 14px;
}

#buttons {
  float:left;
  margin-top:40px;

  -webkit-box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
  -moz-box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
  box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
}

#buttons .btn {
  width: 250px;
  cursor:pointer;
  height: 120px;
  float: left;
  text-align: right;
  line-height: 660%;
  color: #FFF;
  font-size: 20px;
}


#fotoSlider .left {
  position: absolute;
  color: #fff;
  width: 40px;
  background: transparent;
  left: 0;
  top: 0;
  bottom: 70px;
  cursor: pointer;
  cursor: hand;
  z-index: 5;
}

#fotoSlider .right {
  position: absolute;
  color: #fff;
  width: 40px;
  background: transparent;
  right: 0;
  top: 0;
  bottom: 70px;
  cursor: pointer;
  cursor: hand;

  z-index: 5;
}

#mapsWidget {
  width: 250px;
  height: 150px;
  float: left;
  background-color: #ff9405;
  position: relative;
}

#mapsWidget .wrap {
  width: 100%;
  height: 100%;
}

#mapsWidget .wrap p {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  width: 100%;
  background-color: #ff9405;

  font-size: 12px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

#mapsWidget img {
  width: 100%;
  height: 100%;
}

#weatherWidget {
  width: 250px;
  height: 150px;
  float: left;
  background: #32aadf;

  -webkit-box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
  -moz-box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);
  box-shadow: 0px 2px 0px rgba(2,2,2, 0.4);

  background: #33abda; /* Old browsers */
  background: -moz-linear-gradient(top,  #33abda 1%, #1984ad 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#33abda), color-stop(100%,#1984ad)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #33abda 1%,#1984ad 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #33abda 1%,#1984ad 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #33abda 1%,#1984ad 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #33abda 1%,#1984ad 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33abda', endColorstr='#1984ad',GradientType=0 ); /* IE6-9 */

}
#weatherWidget .wrapper {
  position: relative;
}
#weatherWidget .wrapper .weerTop {
  color: #FFF;
  font-size: 12px;
  text-align: center;
  margin: 10px 0 10px 0;
}
#weatherWidget .wrapper .slider {
  position:relative;
  overflow:hidden;
  min-height: 111px;
}

#weatherWidget .wrapper .slider .slide {
  position:absolute;
  width:100%;
}

#weatherWidget .wrapper .slider .deDag {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: #FFF;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

#weatherWidget .wrapper .next {
  cursor: pointer; cursor: hand;
  background-image: url(../images/arrow_next_weer.png);
  background-repeat: no-repeat;
  width:11px;
  height:16px;
  position: absolute;
  top: 43px;
  z-index: 999;
  right: 20px;
}

#weatherWidget .wrapper .prev {
  cursor: pointer; cursor: hand;
  background-image: url(../images/arrow_prev_weer.png);
  background-repeat: no-repeat;
  width:11px;
  height:16px;
  z-index: 999;
  position: absolute;
  top: 43px;
  left: 20px;
}
#weatherWidget .wrapper .slider .voorspelling {
  color: #FFF;
  font-size: 15px;

  margin: auto;
  width: 100px;
}

#weatherWidget .wrapper .slider .windkracht {
  color: #FFF;
  font-size: 13px;

  margin: auto;
width: 100px;
}

.filter {
  width: 1030px;
  margin: auto;
}

.filter p {
  width: 200px;
  padding: 10px;
  color: white;
  font-style: italic;
  background-color: #222;
  font-size: 14px;
}

.filter input {
  width: 200px;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 14px;
}

.activiteitenContainer {
  width: 1030px;
  margin: auto;
  margin-top: 10px;
}

activiteit {
  width: 500px;
  float: left;
  margin-bottom: 15px;
}

activiteit:nth-child(odd) {
  margin-right: 15px;
}

activiteit .fotoWrapper {
  height: 200px;
}

activiteit .foto {
  width: 100%;
  height: 100%;
}

activiteit .wrapper {
  background: #fff;
  height: 50px;
}

activiteit .wrapper p {
  margin-top: 15px;
  margin-left: 15px;
  float: left;
  font-size: 14px;
}

activiteit button {
  background-color: #222;
  width: 150px;
  height: 100%;
  float: right;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer; cursor: hand;
  text-transform: uppercase;
  font-size: 13px;

  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

activiteit button:hover {
  background-color: #333;
}

activiteit button:active {
  background-color: #555;
}

.angular-google-map-container { height: 400px; }

#single {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(2,2,2, 0.6);
  z-index: 5;
}

#single .wrapper {
  width: 1000px;
  min-height: 600px;
  margin: 5% auto;
  position: relative;
}

#single .wrapper .close {
  padding: 5px;
  float: right;
  color: #FFF;
  cursor: pointer;
  position: absolute;
  top: -1px;
  right: -1px;
  cursor: hand;
  background: url(../images/close_icon_single.png);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

#single .wrapper .left, .right {
  float:left;
  width:50%;
  color:#333;
  overflow:hidden;
  height:100%;
  min-height:600px;
}

#single .left .bigImage img {
  display: block;
  margin: auto;
  -webkit-transform: scale(1.2);
}

#single .wrapper .right {
    background:white;
}

#single .wrapper .right p.categorie {
  background-image: url(../images/categorie_icon_single.png);
  background-position: 0px 7px;
  padding-left: 24px;
  background-repeat: no-repeat;
  margin: 10px 0 10px 23px;
  font-size: 11px;
  text-transform: capitalize;
  color:#333;
}

#single .wrapper .right p.organisatie {
  background-image: url(../images/locatie_icon_single.png);
  background-position: 4px 6px;
  padding-left: 20px;
  background-repeat: no-repeat;
  margin: 10px 0 10px 23px;
  font-size: 11px;
  color:#555;
  min-height:23px;
}

#single .wrapper .right p.organisatie a {
  color:orange;
}

#single .wrapper .right p.over {
  font-size: 13px;
  color:#555;
  line-height: 155%;
  margin-left:23px;
}

#single .wrapper .right h1.titel {  
  margin:20px 0 0 24px;
}

#single .wrapper .right h2 {
  margin: 10px 0 10px 20px;
}

#single .wrapper .right .beschikbaarheid {
  font-size:12px;
  color:#555;
  margin-left:23px;
}

.filterContainer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 175px;
  background-color: #171715;
  z-index: 1;
}

.filterContainer input {
  position: absolute;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;

  box-sizing: border-box;
  padding: 20px;

  font-size: 14px;

}

.filterContainer ul {
  margin-top: 40px;
  list-style: none;
}

.filterContainer li {
  width: 100%;

  box-sizing: border-box;
  padding: 20px;
  color: #fff;

  opacity: 0.8;
  cursor: pointer; cursor: hand;

  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -ms-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.filterContainer li:hover {
  opacity: 1;
}

.doen {
  background-color: #b7037e;
}

.verblijven {
  background-color: #dbdb00;
}

.genieten {
  background: #32aadf;
}

.beleven {
  background: #f18a01;
}

.infoContainer {
  padding: 10px;
}

.infoContainer .images {
  width: 170px;
  margin: auto;
  margin-top: 20px;
  position: absolute;
  bottom: 40px;
}

.infoContainer .images div {
  float: left;
}

.infoContainer .images .image1 {
  width: 50px;
  height: 50px;
  background-color: #eaeaea;
  margin-right: 10px;
}

.infoContainer .images .image2 {
  width: 50px;
  height: 50px;
  background-color: #eaeaea;
  margin-right: 10px;
}

.infoContainer .images .image3 {
  width: 50px;
  height: 50px;
  background-color: #eaeaea;
}

.infowindow_naam {
  font-size: 15px;
  font-weight: bold;
}

.infoWindowLink {
  cursor: pointer; cursor: hand;

  position: absolute;
  bottom: 15px;
}

.gm-style-iw {
  position: absolute !important;
  left: -10px !important;
  top: 0 !important;
  overflow: auto !important;
  width: 265px !important;
  height: auto !important;
  min-height: 150px !important;
  background-color: #fff !important;
  bottom: -50px;
}

body > div > google-map > div > div.angular-google-map-container > div > div:nth-child(1) > div > div:nth-child(3) > div:nth-child(3) > div {
  margin-top: -50px;
  margin-left: 145px;
}

body > div > google-map > div > div.angular-google-map-container > div > div:nth-child(1) > div > div:nth-child(3) > div:nth-child(3) > div > div:nth-child(3) {
  top: 10px !important;
  right: 0px !important;
}




