<ul rn-carousel rn-carousel-controls rn-carousel-auto-slide="10" rn-carousel-transition="fadeAndSlide">
	<li>
		<p class="day"><b>Vandaag</b></p>
		<p>Temperatuur: {{round(currentWeather.main.temp)}} </p>
		<img ng-src="{{setIcon(currentWeather.weather[0].description)}}" alt="">
	</li>
	<li>
		<p class="day">Morgen</p>
		<p>Temperatuur: {{round(forecast.list[0].temp.day)}} </p>
		<img ng-src="{{setIcon(forecast.list[0].weather[0].description)}}" alt="">
	</li>
	<li>
		<p class="day">Overmorgen</p>
		<p>Temperatuur: {{round(forecast.list[1].temp.day)}} </p>
		<img ng-src="{{setIcon(forecast.list[1].weather[0].description)}}" alt="">
	</li>
</ul>
