<div class="panel">
	<div class="images">
			<div class="bigImage">
				<div class="logo" ng-if="activity.logo !== null">
					<a target="_blank" href="{{activity.website_url}}"><img width="70" src="/img/activities/{{activity.id}}/logo/{{activity.logo}}" alt="">
					</a>
				</div>
				<img class="bigImage" src="/img/activities/{{activity.id}}/medium/{{activity.img1}}" alt="">
			</div>

			<div class="companyInfo">
				<div class="location">
					<small>{{activity.address}}</small><br>
					<small> {{activity.city}} </small><br>
					<small>{{activity.phone}} </small><br>
					<small>{{activity.zipcode}} </small>
				</div>
				<div class="social">
					<ul>
						<li><span><a href="{{activity.facebook_url}}"><i class="fa fa-facebook"></i></a></span></li>
						<li><span><a href="{{activity.twitter_url}}"><i class="fa fa-twitter"></i></a></span></li>
						<li><span><a href="{{activity.website_url}}"><i class="fa fa-home"></i></a></span></li>
					</ul>
				</div>
			</div>

			<div class="smallImages">
				<img ng-click="swap($event, activity.img2, activity.id)" ng-src="/img/activities/{{activity.id}}/medium/{{activity.img2}}" alt="">
				<img ng-click="swap($event, activity.img3, activity.id)" ng-src="/img/activities/{{activity.id}}/medium/{{activity.img3}}" alt="">
				<img ng-click="swap($event, activity.img4, activity.id)" ng-src="/img/activities/{{activity.id}}/medium/{{activity.img4}}" alt="">
			</div>

	</div>
	<div class="description">
		<h2>{{activity.name}}</h2>
		<div class="categories">
			<div ng-repeat="category in activity.categories" class="categorie">
				<img width="15"  ng-src="/img/icons/{{category}}_colored.png" alt="">
					<small> {{category}} </small>
			</div>
		</div><br>
		<div class="openMap"><a ng-href="#/kaart/{{transform(activity.name)}}">Bekijk op de kaart</a></div>
		<p>{{activity.long_desc}}</p>
	</div>
	<button ng-click="$root.closeModal()">X</button>
</div>
